<form action="/board/write" method="post">
<h1>WRITE</h1>
<p>Title:</p><input type="test" name="title" value="">
<p>Content:</p><input type="test" name="content" value="">
<p>Author:</p><input type="test" name="author" value="">

<input type="submit" name="" value="Submit">

</form>
